body {
    font-family: Arial, sans-serif;
    background-color: #f8f6f4;   
    color: #180605;
}


.navbar {
    background-color: #180605 !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .nav-link:hover {
    color: #B18582 !important;
}


h1 {
    color: #3F070B;
}


.card {
    background-color: #ffffff;   
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-title {
    color: #180605;
}

.card p {
    color: #710A14;
}


.btn-dark {
    background-color: #710A14;
    border: none;
    border-radius: 6px;
}

.btn-dark:hover {
    background-color: #3F070B;
}


footer {
    background-color: #180605;
    color: #ffffff;
    padding: 15px;
