body {
    font-family: 'Cormorant Garamond', serif;
}

h1, h2, h3, .navbar-brand {
    font-weight: 700;
    letter-spacing: 1px;
}


.navbar {
    background-color: #180605 !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;
}

.navbar .nav-link:hover {
    color: #B18582 !important;
}


h1 {
    color: #3F070B;
}


.card {
    background-color: #ffffff;   
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-title {
    color: #180605;
}

.card p {
    color: #710A14;
}


.btn-dark {
    background-color: #710A14;
    border: none;
    border-radius: 6px;
}

.btn-dark:hover {
    background-color: #3F070B;
}


footer {
    background-color: #180605;
    color: #ffffff;
    padding: 15px;
}

.about-layout{
  max-width: 1100px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.about-images{
  display: grid;
  gap: 20px;
}

.about-images img{
  width: 50%;
  height: auto;
  border-radius: 12px;
}

.about-text-area h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.about-text-area p{
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 16px;
}

/* Mobile */
@media (max-width: 900px){
  .about-layout{
    grid-template-columns: 1fr;
  }
}

.hero-home{
  height: 90vh;
  background: 
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("https://i.pinimg.com/1200x/1b/6f/5b/1b6f5b3ce6754cd0f6eb57044c88f453.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}





